
body {
    zoom:1;
}

.fixed {
    position: fixed;
    width:100vw;
}
.offCanvasFixed {
    position : fixed;
}

#drawspace {
    width:2048px;
    height:1180px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;         
    /*width:100vw !important;
    height:100vh !important;*/
    background: url(../images/lego_orange_tile.png) repeat;
    background-size: 100px 100px;
    z-index: -1;
}

.brick {
    cursor: pointer;
    width: 20px;
    height: 20px;
    /*margin-right: 10px;
    margin-left: 10px; */
    position: absolute;
    z-index: 0;
    /*border-radius: 20px;*/
    background: url(../images/lego_orange_tile_white.png) no-repeat;
    background-size: 20px 20px;
    background-blend-mode: multiply;    /*pour l'affichage des briques en couleur */
    /*outline: 2px solid black;*/
}

.zoomspace {
    position: fixed;
    bottom:20px;
    left:20px;
    width:130px;
    z-index: 2;
}


.btn_dezoom {
    background-color: black; /* Green */
    border: none;
    color: #FFA500;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    z-index: 2;
}

.logo_webcom {
    width: 38px;
    height: 38px;
    background: url(../images/logo_webcom.png);
    background-size: 100% 100%;
}

.logo_txt {
    font-family: HelvNeue35,Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    vertical-align: middle;
    display: inline-block!important;
}


hr{
    margin:0px;
}
  
.baseplate {
	padding: 0;
    margin: 0;         
    cursor:pointer;
}

.brickMenu {
    cursor: pointer;
    width: 30px;
    height: 30px;
    /*margin-right: 10px;
    margin-left: 10px; */
    position: absolute;
    z-index: 1;
    /*border-radius: 20px;*/
    background: url(../images/lego_orange_tile_white.png) no-repeat;
    background-size: 30px 30px;
    background-blend-mode: multiply;    /*pour l'affichage des briques en couleur */
    /*outline: 2px solid black;*/
}

.white {
	background-color: white;
}

.black {
    background-color: #666;
}

.blue {
    background-color: #0048aa;
}

.red {
    background-color: #f40026;
}

.yellow {
    background-color: #ffdc00;
}

.green {
    background-color: #008a40;
}

.brown {
    background-color: #694027;
}

.colors {
    width: 100%;
    text-align: center;
    margin:auto;
}

.colors .brickMenu {
    cursor: pointer;
    position: inherit;
    display: inline-block;
    margin: 7px;
}

.colors .active {
    outline: 5px solid black;
}

.ul-drawTools {
    height:200px;
    margin-left:0px!important;
    padding-top:0px!important;
}

.container-titlebar {
    background-color: black;
    border-radius: 10px;
    width:auto;
    height:auto;
    padding: 14px;
    margin-left: 4px;
    margin-top: 4px;
}

.container-titlebar-menu {
    background-color: black;
    border-radius: 10px;
    width:auto;
    height:auto;
    padding: 14px;
    margin-right: 22px;
    margin-top: 12px;
}

.drawTools-buttons-container {
    background-color:grey;
    height:50%
}

.container-color {
    background-color:grey;
    height:50%;
    display:flex;
}

.container {
    padding-top: -10px;
    width: auto;
    height:100%;
    overflow:hidden;
    position: relative;
    background-color: blue;
}

.tools-button {
    margin-top:18px !important;  
    margin-bottom:18px !important; 
    margin-left:48px !important;
    width: 4.2em;
    height: 4.2em;
    position: relative;
    background-color:transparent !important;
}

.tools-button:hover {
    background-color: transparent;
}

.tools-icons {
    font-size: 30px;
    color: black;
    position: absolute;
}

.whiteSquare {
    top: 0;
    font-size: 4em;
}


.menu-title {
    height: 77.778px;
    font-size:40px;
    vertical-align:middle;
    text-align:center;
    padding-top:20px!important;
    outline:0;
}

.menu-submenu {
    height: 40px;
    padding-top:10px;
    vertical-align:middle;
}

.submenu .title {
    font-size: 20px;
    color:gray;   
}
